
    h1 { 
        color: darkblue; 
    } 
    p { 
        color: purple; 
    } 
nav  
{ 
    background-color: lightblue; 
    padding: 10px; 
} 
a  
{ 
    text-decoration: none; 
}
.box { 
    border: 1px solid black; 
    padding: 15px; 
    margin-top: 20px; 
    background-color: grey; 
}
.left,.right{
    width:45%;
    display:inline-block;
    border:1px solid black;
    padding:10px;
    margin-top: 10px;
}
#section1{
    background-color: antiquewhite;
    padding: 10px;
    border-left: 5px solid orange;
}